@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --mobile-font-size: 30px;
  --desktop-font-size: 52px;
  --mobile-text-shadow: 
  -3px -3px 0 #000,
  0   -3px 0 #000,
  3px -3px 0 #000,
  3px  0   0 #000,
  3px  3px 0 #000,
  0    3px 0 #000,
 -3px  3px 0 #000,
 -3px  0   0 #000;

  --desktop-text-shadow:
  -5px -5px 0 #000,
  0   -5px 0 #000,
  5px -5px 0 #000,
  5px  0   0 #000,
  5px  5px 0 #000,
  0    5px 0 #000,
 -5px  5px 0 #000,
 -5px  0   0 #000;
}

* {
  font-family: 'Inter', 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

button:hover, div:not(.container){
  cursor: pointer;
}

body.start-screen, body.place-ships-screen, body.battleship-screen {
  background-image: url('../assets/water-phone-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}


.container {
  width: 80%;
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}


.battleship-logo {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.description-text {
  color: white;
  font-size: var(--mobile-font-size);
  margin: 0;
  text-transform: uppercase;
  text-shadow:var(--mobile-text-shadow);
}

#username {
  width: 100%;
  font-size: var(--mobile-font-size);
  padding: 10px 0px;
  border: 3px solid black;
  border-radius: 5px;
  padding-left: 10px;
  font-weight: bold;
}

.next-screen-button {
  width: 100%;
  font-size: var(--mobile-font-size);
  padding: 10px 0px;
  text-transform: uppercase;
  background-color: red;
  border: 3px solid black;
  font-weight: bold;
  color: white;
  text-shadow: var(--mobile-text-shadow);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.next-screen-button:hover {
  background-color: darkred;;
}


/* margins to separate the elements for start screen */ 
.start-screen .container div:first-child {
  margin-bottom: 50px;
}

.start-screen .container div:last-child {
  margin-top: 50px;
}


@media screen and (min-width: 650px){
  body.start-screen {
    background-image: url('../assets/water-desktop-bg.jpg');
  }


  .container {
    justify-content: space-evenly;
  }

  .start-screen .container div:first-child {
    margin-bottom: 50px;
  }
  
  .start-screen .container div:last-child {
    margin-bottom: 10%;
  }
  

  #username, .description-text, .next-screen-button  {
    font-size: var(--desktop-font-size);
  }

  #username {
    opacity: 100%;
    margin-top: 10px;
  }
  .description-text, .next-screen-button  {
    text-shadow: var(--desktop-text-shadow);
  }

  .next-screen-button {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
  }
}



/* css for the place ships and attack ships screen */

.place-ships-screen .container{
  display: flex;
  justify-content: center;
}


.status {
  background-color: white;
  border: 5px solid black;
  text-align: center;
  margin-top: 36px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  height: 20%;
}

.grid-buttons {
  margin-top: 8px;
  margin-bottom: 24px;
  display: flex;
}

.grid-buttons button:first-child {
  margin-left: auto;
}

.grid-buttons > button {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  background-color: white;
}

#start-game {
  padding-left: 20px;
  padding-right: 20px;
}



.ships-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  aspect-ratio: 1/1;
  max-height: 60%;
}

.ships-grid > div {
  height: 10%;
  aspect-ratio: 1/1;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  visibility: hidden !important;
}


@media screen and (min-width: 650px){
  .ships-grid > div > svg {
    font-size: 2em;
  }

}

.grid-right-border {
  border-right: 2px solid black !important;
}

.grid-left-border {
  border-left: 2px solid black  !important;
}

.grid-top-border {
  border-top: 2px solid black  !important;
}

.grid-bottom-border {
  border-bottom: 2px solid black !important;
}

/* css for the attacking other ships (battle) */
.battleship-screen > .container {
  max-width: 1000px;
}

.both-sides-grids, .next-action-buttons {
  display: flex;
  flex-direction: column;
}

.player-text {
  color: white;
  text-shadow: var(--mobile-text-shadow);
  font-size: var(--mobile-font-size);
  text-align: center;
  margin-top: 24px;
  margin-bottom: 18px;
  text-transform: uppercase;
}

#new-game {
  margin-top: 24px;
  margin-bottom: 48px;
}

.red {
  color: #ff0000;
}

.gray {
  color: #939597
}

.black {
  color: #000000;
}

@media screen and (min-width: 900px){

  .both-sides-grids, .next-action-buttons {
    display: flex;
    flex-direction: row;

  }

  .battleship-screen > .container .grid-and-buttons-container {
    width: 45%;
  }

  .ships-grid {
    max-height: 100%;
    max-width: 100%;
  }

  .both-sides-grids {
    justify-content: space-between;
  }

}